body{
    background-image: url(imagenes/tumblr_0130c4c372d84dc3cf3e53cf14aba94c_554b77bd_1280.jpg);
    background-size: auto;
    background-repeat: repeat;
    text-align: justify;
    padding: 90px;
    background-color: transparent;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: navy;
}
a{
    text-decoration: none;
    color: gray;
}
.imgcontenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgcontenedor img {
    margin: 0 0px;
    width: 200px;
    height: auto;
}
img:nth-of-type(2){
    margin: 0 0px;  
    width: 175px;
    height: auto;
}
img:nth-of-type(1){
    margin: 0 0px;
    width: 215px;
    height: auto;
}
.imgcontenedor2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgcontenedor2 img {
    margin: 0 150px;
    width: 200px;
    height: auto;
}
.musica{
    background-color: gray;
}